:root {
    --gutter: 15px;
    --bg: tomato;
}
*, *:before, *:after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 25px;
}
body,p,h1,h2,h3,ul,ol {
    margin: 0;
    background-color: rgb(24, 238, 4);
}
.header {
    background-color: var(--bg);
}
.container {
    background: yellow;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.row > div {
    padding: 15px;
    margin: 0 auto;
    /* background-color: red; */
}
.column {
    width: calc(100% - var(--gutter));
    margin: 5px;
}
/* .col-2 {
    width: calc(50% - var(--gutter));
}
.col-3 {
    width: calc(25% - var(--gutter));
} */
.navigation {
    background-color: rgb(165, 221, 247);
}
.navigation a {
    float: left;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}
.navigation a:hover {
    background-color: aqua;
}
.navigation a.active {
    background-color: rgb(86, 86, 248);
    color: white;
    border: 1px solid blue;
}
.navigation-right {
    float: right;
}
.navigation-right a:hover {
    background-color: red;
}
@media screen and (max-width:992px) {
    .container {
        max-width: 100%;
    }
    body {
        background: #000;
    }
}