:root {
    --gutter: 15px;
    --bg: tomato;
}
*, *:before, *:after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 20px;
}
body,p,h1,h2,h3,ul,ol {
    margin: 0;
    /* background-color: #fff; */
}
.header {
    background-color: var(--bg);
}
.container {
    background: rgb(255, 255, 255);
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 0 15px; */
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.row > div {
    padding: 15px;
    margin: 5px auto;
    background-color: wheat;
    border: 1px solid gray;
}
.col-1 {
    width: calc(100% - var(--gutter));
}
.col-2 {
    width: calc(50% - var(--gutter));
}
.col-3 {
    width: calc(25% - var(--gutter));
}
.nav {
    margin: auto;
    /* max-width: 1200px; */
    display: flex;
    justify-content: center;
}
.nav a {
    padding: 5px;
    color: rgb(10, 24, 146);
    margin-right: 70px;
    font-size: 20px;
    text-decoration: none;
}
.nav a:hover {
    background: rgb(34, 139, 224);
    color: rgb(255, 255, 255);
  }
.nav a:last-child {
    margin-right: 0px;
}
@media screen and (max-width:992px) {
    .container {
        max-width: 100%;
    }
    body {
        background: #000;
    }
}